<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="bigcity">

  <item label="Rxvt Unicode">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>

  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>

  <item label="VSCode">
    <action name="Execute">
      <command>code</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
 
  <item label="PCMan File Manager">
    <action name="Execute">
      <command>pcmanfm</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <separator/> 

  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>

  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>

  <item label="Shutdown">
    <action name="Execute">
      <command>systemctl poweroff</command>
    </action>
  </item>

</menu>

</openbox_menu>
